/****** WELCOME PAGE ******/
.onboard-header {
  max-height: 50vh;
  width: 100vw;
}

.onboard-img {
  max-height: 50vh;
  width: 100%;
  object-fit: cover;
}

.content {
  background-color: #FFFFFF;
  color: #000;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.vertical-svg {
  display: none;
}

.horizontal-svg {
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  bottom: 43vh;
}

.horizontal-svg svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 154px;
}

.horizontal-svg .shape-fill {
  fill: #FFFFFF;
}

.content-title {
  display: flex;
  font-weight: 900;
  font-size: 2rem;
  color: #366C54;
}

.content-paragraph {
  display: flex;
  margin-top: 5%;

  color: #366C54;
  font-size: 1.5rem;
}

.section-continue-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-continue {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;

  width: 8rem;
  height: 40px;
  color: #366C54;
  font-weight: 900;
  font-size: 1rem;
  text-transform: uppercase;

  background: #FEB15E;
  border-radius: 15px 0px;
  border: none;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.section-skip-button {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 1rem;
}

.btn-skip {
  display: flex;
  align-items: flex-end;
  margin-top: 20%;
  color: #366C54;
  font-size: small;
  font-weight: 900;
  text-transform: uppercase;
  border: none;
  background: none;
}

@media screen and (min-width: 1024px) {
  body {
    overflow: hidden;
  }

  .welcome-container,
  .conecte-container,
  .comunique-container {
    height: 100vh;
    display: flex;
    flex-direction: row;
    overflow: hidden;
  }

  .onboard-header {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    max-width: 50vw;
    justify-content: left;
    overflow: hidden;
  }

  .onboard-img {
    min-height: 100vh;
    width: 100%;
    object-fit: cover;
  }

  .horizontal-svg {
    display: none;
  }

  .vertical-svg {
    display: block;
    overflow: hidden;
  }

  .vertical-svg {
    position: absolute;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(90deg);
    bottom: 43vh;
    margin-right: 10%;
    overflow: hidden;
  }
  
  .vertical-svg svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 154px;
    margin-top: 8%;
    overflow: hidden;
  }
  
  .vertical-svg .shape-fill {
    fill: #FFFFFF;
    overflow: hidden;
  }

  .content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
    overflow: hidden;
    padding: 10%;
  }

  .content-title {
    font-size: 2.5rem;
  }

  .content-paragraph {
    font-size: 2rem;
  }

  .btn-continue {
    margin-top: 70%;
    width: 12rem;
    height: 60px;
    font-size: 1.5rem;
  }

  .btn-skip {
    font-size: 1.2rem;
    margin-bottom: -100%;
    margin-right: -30%;
  }
}